<div class="">
  <div class="col-parent">
    <div id="master-col" class="left-col col-shared">
      <div class="inner">
      <ul>
        <% @resources.each do |resource| %>
          <li><h3><a href="#main/generic_get" data-resource="<%= resource%>" class="master-item"> <%= resource.underscore.titleize.pluralize %> </a></h3></li>
        <% end %>
        <li><h3><a href="#main/search" id="search" class="master-item"> Search </a></h3></li>
      </ul>

      </div>
    </div>

    <div class="right-col col-shared">
      <div id="detail-1" class="inner"></div>
    </div>
  </div>
</div>

<div id="loader-template" class="main-loader fa fa-spinner fa-spin hide"></div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body">
        <div id="detail-2"></div>
      </div>
      <%#<div class="modal-footer">%>
        <%#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>%>
      <%#</div>%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
