<div class="container-fluid">
  <div class="row col-md-12">
    <div class="col-md-4">
      <ul>
        <li><h3><a href="#main/recent_exams" id="recent-exams"> Recent Exams </a></h3></li>
        <li><h3><a href="#main/search" id="search"> Search </a></h3></li>
      </ul>

    </div>

    <div id="detail-1" class="col-md-8">
      <div id="loader" class="fa fa-spinner fa-spin hide"></div>
    </div>

  </div>
</div>
