
<table class="table table-striped">
  <tr>
    <th>Accession</th>
    <th>Identifier</th>
    <th>Date of Service</th>
    <th>Procedure Description</th>
  </tr>
  <% @studies.each do |study| %>
    <% entry = study["resource"] %>
    <tr class="hoverable">
      <td><%= (entry["accession"] || {})["value"] %></td>
      <td><%= ((entry["patient"] || {})["reference"] || "").split("/").last %></td>
      <td><%= entry["started"] %></td>
      <td><%= entry["description"] %></td>
    </tr>
  <% end %>
</table>
