<div>
  <form class="form">
    <div class="form-group">
      <label>MRN</label>
      <input class="form-control" name="mrn">
    </div>

    <div class="form-group">
      <label>Accession</label>
      <input class="form-control" name="accession">
    </div>

    <div class="form-group">
      <label>Date of Service</label>
      <input class="form-control" name="date_of_service">
    </div>
  </form>
</div>
